DB_SERVER=127.0.0.1
DB_PORT=1433
DB_DATABASE=AdventureWorks2025
DB_USER=usuario_de_aplicacion
DB_PASSWORD=aqui_va_la_contrasena
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

PORT=3000
NODE_ENV=development

JWT_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria
JWT_EXPIRES_IN=8h
